
<h1> Tastes of {{city}} </h1>


<!-- <form action="/yelptable" method="POST">
    Sort By:<br/> -->
    <!-- <input type="radio" name="sortby" value="price"/> Price <br/>
    <input type="radio" name="sortby" value="rating"/>Rating <br/>

    <input type="submit" name="update" value="Sort by (Top->Bottom)"/> -->
    <!-- <br/>
    <br/>
</form> -->

<form action="/lyftlist" method="POST">
  <label>Please enter your departure location:</label>
  <input type="text" required name='user_location'></br>

  <input type="submit" value="Go"/>
<table border=1>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Price</th>
        <th>Rating</th>
        <th>Address</th>
    </tr>
    <tr>

      {% for res in list_of_res %}
    <td><input type="checkbox" name="store" value ="{{res[0]}}"></td>
        <td>{{res[2]}}</td>
        <td>{{res[3]}}</td>
        <td>{{res[4]}}</td>
        <td>{{res[5]}}</td>
    </tr>
{% endfor %}
</table>
</form>
